 /* start the variables */
 :root {
     --main-color:#10cab7 ;
     --section-padding:60px;
     --section-background:#f6f6f6;
     --section-margin: 100px;
 }

/* end the variables  */
  /* start global rules  */ 
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* border:5px solid red; */

}
body {
    font-family: 'Work Sans', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right:20px;
  
}  
/* small  */
 @media (min-width:768px) {
    .container {
        width:750px;
    }
} 
/* medium  */
 @media (min-width:992px) {
    .container {
        width:970px;
    }
}
/* large  */
 @media (min-width:1200px) {
    .container {
        width:1170px;
    }
}
/* end global rules  */
 /* start combonents  */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    margin: 0;
    text-align: center;
    letter-spacing: -3px;
}
.special-heading + p {
    color:#797979;
    font-size:20px;
    text-align:center;
    margin:-30px 0 0 ;
}
@media (max-width:767px) {
    .special-heading {
        font-size:50px;
    }
}
@media (max-width:767px) {
    .special-heading + p {
        margin:0;
    }
}
.portofolio-heading {
    font-size:100px;
    text-align:center;
    color:#ebeced;
    letter-spacing: -3px;
    margin:0;
}
.portofolio-heading + p {
    text-align: center;
    font-size: 20px;
    color: #777;
    margin: -30px 0 0 ;
}
@media (max-width:767px) {
    .portofolio-heading {
        font-size:50px;
    }
}
.about-heading {
    font-size: 100px;
    color: #ebeced;
    letter-spacing: -3px;
    text-align: center;
    margin: 0;
}
.about-heading + p {
    font-size: 20px;
    color: #777;
    text-align: center;
    margin: -33px 0 0;
}
.contact-heading {
    font-size: 100px;
    font-weight: bold;
    color: #ebeced;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}
.contact-heading + p {
    font-size: 20px;
    text-align: center;
    color: #777;
    margin: -33px 0 0;
}
@media (max-width:767px){
    .contact-heading {
        font-size:50px;
    }
}

/* end combonents   */
/* / start header   */
.header {
    padding:20px;
}

.header .container {
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.header .link {
    position:relative;
}
.header .link:hover .icon span:nth-child(2) {
    width:100%;
}
.header .link .icon {
    width:35px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .link .icon span {
    background-color:#333;
    margin-bottom:5px;
}
.header .link .icon span:first-child {
    width:100%;
    height:3px;
}
.header .link .icon span:nth-child(2) {
    width:60%;
    height:3px;
    transition:.5s;
}
.header .link .icon span:last-child {
    width:100%;
    height:3px;
}
.header .link ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 20px);
    display:none; 
}
.header .link ul:before {
    content:"";
    border-width:10px;
    border-style:solid;
    border-color: transparent transparent red transparent;
    position:absolute;
    top:-20px;
    right:5px;
}
.header .link:hover ul {
    display: block;
}
.header .link ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: .5s;
    color:#333;
}
.header .link ul li:hover a {
    padding-left:30px;
    color:red;
} 
/* end header  */
/* start landing section  */
.landing {
    background-image: url("download.jpg");
    background-size:cover;
    height:calc(100vh - 64px);
}
.landing .intro-text {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
    text-align:center;
    width:330px;
    max-width:100%;
}
.landing .intro-text h1 {
    margin:0;
    font-size:50px;
    font-weight:bold;
    color: var( --main-color);
}
.landing .intro-text p {
    color:#777;
    font-size:20px;
    line-height:1.8;
}

/* end landing section */
 /* start features  */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
}
.features .feat {
    padding:20px;
    text-align:center;
}
.features .feat i {
    color: var(--main-color);
    font-size:50px;
}
.features .feat h3 {
}
.features .feat p {
    line-height: 1.8;
     color: #777;
     font-size:20px;
}
/* end features  */
/* start services */
.services {
    padding-top:60px;
    padding-bottom:60px;

}
.services .services-content { 
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:30px;
    margin-top:100px;
}


.services .serv  {
    display: flex;
    margin-bottom: 40px;

}
@media (max-width: 767px) {
    .services .serv {
        flex-direction:column;
        text-align:center;
    }
}
.services .serv i {
    color: var(--main-color);
    /* width:60px; */
    flex-basis: 60px;
    font-size:50px;
    font-weight:800;
}
.services .text {
    flex:1;
}
.services .text h3 {
    margin:0 0 20px;
}
.services .text p {
    color:#777;
}
.services .image {
    position:relative;
    text-align:center;
}
.services .image::before {
    content:"";
    background-color:black;
    width:90px;
    height:150%;
    position:absolute;
    right:0;
    top:-25%;
    z-index: -1;
    
    
}
.services .image img {
    width:300px;
}
@media (max-width:1199px) {
    .services .image-row {
        display:none;
    }
}
/* end services */
/* strat portofolio */
.portfolio {
    padding-top:60px;
    padding-bottom:60px;
    background-color:#f6f6f6;
}
.portfolio .portofolio-content {
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:30px;
    margin-top:100px;
}
.portfolio .portofolio-content .porto {
    background-color: white;
}
.portfolio .portofolio-content .porto img {
    max-width: 100%;
}
.portfolio .portofolio-content .porto .text-porto {
    padding:20px;
}
/* .portfolio .portofolio-content .porto .text */


/* end portofolio */
/* start about  */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about .about-content {
    margin-top: var(--section-margin);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:767px) {
    .about .about-content {
        text-align:center;
    }
}

.about .about-content .image {
    position: relative;
    width:320px;
    height:480px;
}
@media (max-width:991px) {
    .about .about-content .image {
        margin:0 auto 60px;
    }
}
.about .about-content .image::before {
    content:"";
    width: 90px;
    height: 120%;
    background-color: #eee;
    position: absolute;
    top: -10%;
    z-index: -1;
    left: -20px;

}
.about .about-content .image::after {
    content:"";
    position: absolute;
    width: 130px;
    height: 400px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
    right: -160px;
    top: -44px;
}
@media (max-width:991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display:none;

    } 
}

.about .about-content .image img {
    max-width:100%;
}
.about .about-content .text-about {
    flex:1;
    padding-left:120px;
}
.about .about-content .text-about p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text-about hr {
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}
.about .about-content .text-about p:last-of-type {
    color:#777;
    line-height:2;
}
/* end about  */
/* start contact */
.contact {
    background-color: var(--section-background);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .contact-content {
    margin-top: var(--section-margin);
    margin-bottom: var(--section-margin);
    text-align:center;
}
.contact .contact-content .label {
    font-size: 30px;
    font-weight: bold;
    color: #777;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .contact-content .link {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    text-decoration: none;
}
.contact .contact-content .social {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.contact .contact-content .social i {
    color:var(--main-color);
    margin-left: 15px;
}
/* end contact */
/* start ooter  */
.footer {
    background-color: #777;
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}
.footer span {
    color:var(--main-color);
}
/* end footer  */
   





